
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
BugManagement.DomainModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BugManagement.DomainModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-icons_222222_256x240.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-icons_2e83ff_256x240.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-icons_454545_256x240.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-icons_888888_256x240.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/images/ui-icons_cd0a0a_256x240.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/jquery.ui.accordion.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/jquery.ui.all.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/jquery.ui.autocomplete.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/jquery.ui.base.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/jquery.ui.button.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/jquery.ui.core.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/jquery.ui.datepicker.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/jquery.ui.dialog.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/jquery.ui.progressbar.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/jquery.ui.resizable.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/jquery.ui.selectable.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/jquery.ui.slider.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/jquery.ui.tabs.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/jquery.ui.theme.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/jquery-ui.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/images/ui-bg_flat_0_aaaaaa_40x100.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/images/ui-bg_flat_75_ffffff_40x100.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/images/ui-bg_glass_55_fbf9ee_1x400.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/images/ui-bg_glass_65_ffffff_1x400.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/images/ui-bg_glass_75_dadada_1x400.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/images/ui-bg_glass_75_e6e6e6_1x400.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/images/ui-bg_glass_95_fef1ec_1x400.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/images/ui-bg_highlight-soft_75_cccccc_1x100.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/images/ui-icons_222222_256x240.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/images/ui-icons_2e83ff_256x240.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/images/ui-icons_454545_256x240.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/images/ui-icons_888888_256x240.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/images/ui-icons_cd0a0a_256x240.png
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/jquery.ui.accordion.min.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/jquery.ui.autocomplete.min.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/jquery.ui.button.min.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/jquery.ui.core.min.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/jquery.ui.datepicker.min.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/jquery.ui.dialog.min.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/jquery.ui.progressbar.min.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/jquery.ui.resizable.min.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/jquery.ui.selectable.min.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/jquery.ui.slider.min.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/jquery.ui.tabs.min.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/jquery.ui.theme.min.css
packages/jQuery.UI.Combined.1.8.24/Content/Content/themes/base/minified/jquery-ui.min.css
