@{
    ViewBag.Title = "Signup";
}

<div id="divSignup">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <span id="spanSignup">Sign up</span>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" id="formSignup">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Username</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtUsername" placeholder="Username" name="Username">
                        <span class="red"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input name="Password" type="password" class="form-control" id="txtPassword" placeholder="Password">
                        <span class="red"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Repeat Your Password</label>
                    <div class="col-sm-9">
                        <input name="RepeatPassword" type="password" class="form-control" id="txtRptPassword" placeholder="Password">
                        <span class="red"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-9">
                        <input name="FirstName" type="text" class="form-control" placeholder="Firstname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-9">
                        <input name="LastName" type="text" class="form-control" placeholder="Lastname">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <input type="button" class="btn btn-success" id="btnSignup" value="Signup">
                        <br/><br/>Existing account? To <a href="/account/signin">Sign In</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/signup.js"></script>
}
