*{ margin: 0;padding: 0}
html,body {
    height: 100%;
}

#aTitle{ margin-left: 500px;font-size: 24px;}
#ulNav li{ margin-left: 50px;}
#divMain{ width: 60%;margin: 0 auto;}
.red{ color: red;}
#divSignup,#divSignIn,#tblProjects{ width: 60%;margin: 0 auto;margin-top: 20px;}
#spanSignup,#spanSignIn{ font-size: 20px;}
.centerTable tr th,.centerTable tr td{ text-align: center !important;}
